# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
backend/.venv/
backend/db.sqlite3
backend/media/

# Environment variables / secrets
.env
*.env

# Expo / Node
node_modules/
.npm-cache/
.expo/
dist/
web-build/

# IDE
.vscode/
.idea/
